@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');



/* HackerRank button styles */
.accordion-js{
  background-color: #000000;
  margin: 0;
}
.accordbuttons{
  display: flex;
}
html{
  background-color: #000000;
}

.backtohome{
  margin: 0.3rem auto !important;
  font-size: 1rem !important;
}

.backtohomereal{
  margin: 2rem auto !important;
  font-size: 1rem !important;
}

@media screen and (max-width:800px) {
  .backtohome{
    font-size: 0.8rem !important;

  }
}

.questions-title{
  font-family: 'Share Tech', sans-serif;
  font-size:3rem;
  color: #ffffff;
  text-align: center;
  padding: 1rem;
  margin-bottom: 5rem;
  margin-top: 3rem;
}

a.btn {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    position: relative;
    display: inline-block;
    padding: 20px 20px;
    margin: 2px 0;
    color: #bd4b4b;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 3px;
    overflow: hidden;
    /* font-size: 1rem; */
    /* margin-right: 50px; */
   
}

@media screen and (max-width:320){
  a.btn{
    font-size: 0.75em;
  }
}


a.btn:hover{
    background: #bd4b4b;
    color: #050801;
    box-shadow: 0 0 5px #bd4b4b,
                0 0 25px #bd4b4b,
                0 0 50px #bd4b4b,
                0 0 200px #bd4b4b;
}
a.btn:nth-child(1){
    filter: hue-rotate(270deg);
}
a.btn:nth-child(2){
    filter: hue-rotate(110deg);
}
a.btn span{
    position: absolute;
    display: block;
}
a.btn span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#bd4b4b);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
a.btn span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#bd4b4b);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
a.btn span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#bd4b4b);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}

a.btn span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#bd4b4b);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}

/* Download Link styles */

Link.btn {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  position: relative;
  display: inline-block;
  padding: 25px 30px;
  margin: 40px 0;
  color: #bd4b4b;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  margin-right: 50px;
 
}
Link.btn:hover{
  background: #bd4b4b;
  color: #050801;
  box-shadow: 0 0 5px #bd4b4b,
              0 0 25px #bd4b4b,
              0 0 50px #bd4b4b,
              0 0 200px #bd4b4b;
}
Link.btn:nth-child(1){
  filter: hue-rotate(270deg);
}
Link.btn:nth-child(2){
  filter: hue-rotate(110deg);
}
Link.btn span{
  position: absolute;
  display: block;
}
Link.btn span:nth-child(1){
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,#bd4b4b);
  animation: animate1 1s linear infinite;
}
@keyframes animate1{
  0%{
      left: -100%;
  }
  50%,100%{
      left: 100%;
  }
}
Link.btn span:nth-child(2){
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#bd4b4b);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2{
  0%{
      top: -100%;
  }
  50%,100%{
      top: 100%;
  }
}
Link.btn span:nth-child(3){
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent,#bd4b4b);
  animation: animate3 1s linear infinite;
  animation-delay: 0.50s;
}
@keyframes animate3{
  0%{
      right: -100%;
  }
  50%,100%{
      right: 100%;
  }
}

.btn_container{
  display: flex;
  justify-content: space-between;
}

Link.btn span:nth-child(4){
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,#bd4b4b);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4{
  0%{
      bottom: -100%;
  }
  50%,100%{
      bottom: 100%;
  }
}

h1 {
  margin: 0;
  line-height: 2;
  text-align: center;
}

h2 {
  margin: 0 0 .5em;
  font-weight: normal;
}

.input {
  position: absolute;
  /* opacity: 0; */
  z-index: -1;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #000000;
    width: 100%;
    height: 100vh;
}

.row .col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/* Accordion styles */
.tabs {
  border-radius: 8px;
  overflow: hidden;
  margin: 20px;
  -webkit-box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}

.prompt{
  background-color:  #151515;
  border-radius: 0 0 5px 5px;
  padding: 1rem;
}

.tab {
  width: 100%;
  color: white;
  overflow: hidden;
}

.tab-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em;
  background: #2c3e50;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Share Tech', sans-serif;
  /* Icon */
}

.tab-label:hover {
  background: #1a252f;
}

.tab-label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  -webkit-transition: all .35s;
  transition: all .35s;
}

.tab-content {
  max-height: 0;
  padding: 0 1em;
  /* color: #000000; */
  /* background: #efb7b7; */
  -webkit-transition: all .35s;
  transition: all .35s;
  font-family: 'Roboto Mono', monospace;
  white-space: pre-line;
  font-size: 1.3rem;
  /* background-color: #151515; */
  background-color: #272727;
  box-sizing: border-box;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.output{
  font-family: 'Roboto Mono', monospace;
}

.tab-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #2c3e50;
  cursor: pointer;
}

.tab-close:hover {
  background: #1a252f;
}

.input:checked + .tab-label {
  background: #1a252f;
}

.input:checked + .tab-label::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}
/*# sourceMappingURL=Accordion.css.map */

.ques-btn{
  background-color: rgb(26,37,47);
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Share Tech', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;

}

.testcase{
  margin: 2rem;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5rem;
}

.click{
  background-color: transparent;
  border: none;
  font-family: 'Raleway', sans-serif;
    font-weight: bold;
    position: relative;
    display: inline-block;
    padding: 20px 20px;
    margin: 2px 0;
    color: #bd4b4b;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 3px;
    overflow: hidden;
}

@media screen and (max-width:320){
  .click{
    font-size: 0.75em;
  }
}


.click:hover{
    background: #bd4b4b;
    color: #050801;
    box-shadow: 0 0 5px #bd4b4b,
                0 0 25px #bd4b4b,
                0 0 50px #bd4b4b,
                0 0 200px #bd4b4b;
}
.click:nth-child(1){
    filter: hue-rotate(270deg);
}
.click:nth-child(2){
    filter: hue-rotate(110deg);
}
.click span{
    position: absolute;
    display: block;
}
.click span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#bd4b4b);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
.click span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#bd4b4b);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
.click span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#bd4b4b);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}

.click span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#bd4b4b);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}

.home{
  background-color: transparent;
}

button.home{
  background-color: wheat;
}

.navigators{
  padding: 10px;
  background-color: #bbb;
  display: flex;
  gap: 5px;
  border-radius: 5px 5px 0 0;
}
  
.fakeButtons {

  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid #000;

  background-color: #ff3b47;
  border-color: #9d252b;
  display: inline-block;
}

.fakeMinimize {
  background-color: #ffc100;
  border-color: #9d802c;
}

.fakeZoom {
  background-color: #00d742;
  border-color: #049931;
}

span {
  font-weight: bold;
}

.line1 {
  color: #9CD9F0;
}

hr{
  margin: 4rem;
  opacity: 0.2;
  color: #bbb;
}

.alternate{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Mono', monospace;
  color: grey;
}