@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.output {
    font-size: 1.5rem;
}

.input_field {
    border: 2px grey;
    z-index: 10 !important;
    background-color: transparent;
    padding: 15px;
    width: 80%;
    font-family: 'Roboto Mono', monospace;
    border: 1px grey solid;
    border-radius: 3px;
    color: grey;
    font-size: 1.5rem;
}

.input_field:focus {
    outline: none;
}
